eva.py
.env/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

logs/
*.log
test_api.py
.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

quota_state.json
.env

update_json.py
up_to_hf.py
test_all_states.sh

dataset/99-old-labels/
dataset/99-old-documents/

setup_adc.sh
sort_name.py
test_api.py


