                       
src/
template/
main.py/
call_api.ipynnb/
requirements.txt/
run.sh/

.env/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

logs/
*.log

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

quota_state.json
.env
